<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>用户注册</title>
	<link rel="icon" href="img/logo1.png" type="image/x-icon">
	<link rel="stylesheet" href="css/register.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

	<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/qs.min.js"></script>
</head>
<body style="background-color: rgb(242,242,242);">
<div id="base">
	<!-- 注册页头 -->
	<div class="top_color"></div>
	<div class="top_bar">
		<div class="content top_content">
			<div class="top_content_left">
				<span class="a" style="float: left;" @click='index'>悦享小说网站</span>
			</div>
			<div class="top_content_right">
				<span class="a" @click='index' style="float: right;"><i class="fa fa-arrow-left">返回首页</i></span>
			</div>
		</div>
	</div>
</div>
	<div class="header">
		
	</div>
	<div class="register_box bor_grey" id="register_app">
		<div class='text_center1' style="margin: 30px 0; ">
			<b>用户注册</b>
		</div>

		<div class="register_content">

			<div class="register_input_box bor_grey">
				<div class="register_input_box_i">
					<i class="fa fa-user input_box_i"></i>
				</div>
				<!-- 用户名 -->
				<input type="text" class="register_input" placeholder="请设置用户名" v-model='register_name' @blur='verify_user_name' @input='verify_user_name_reg' maxlength="25"/>
				<p>{{user_name_msg}}</p>
			</div>

			<div class="register_input_box bor_grey">
				<div class="register_input_box_i">
					<i class="fa fa-envelope input_box_i"></i>
				</div>
				<!-- 电子邮箱 -->
				<input type="text" class="register_input" placeholder="请输入电子邮箱" v-model='email' @blur='verify_email' @input='verify_email_reg'  maxlength="100"/>
				<p>{{email_msg}}</p>
			</div>

			<div class="register_input_box bor_grey">
				<div class="register_input_box_i">
					<i class="fa fa-lock input_box_i"></i>
				</div>
				<!-- 密码 -->
				<input type="password" class="register_input" placeholder="请输入密码" v-model='pwd' @input='verify_pwd_reg' />
				<p>{{pwd_msg}}</p>
			</div>

			<div class="register_input_box bor_grey">
				<div class="register_input_box_i">
					<i class="fa fa-lock input_box_i"></i>
				</div>
				<!-- 再次输入密码 -->
				<input type="password" class="register_input" placeholder="请再次输入密码" v-model='pwd2' @input='verify_pwd2_reg'/>
				<p>{{pwd2_msg}}</p>
			</div>
			
			<div class="register_bt a" @click='register'>
				注册
			</div>
			<div class="login_a">
				<p class="ho_black a" @click='toLogin'>已有账号，立即登录</p>
			</div>
		</div>
	</div>
	<!-- 页尾 -->
	<div class="foot_min content">
		<div style="margin: 50px 0 0;color: rgb(153,153,153);">
		网站首页  |  联系方法  |  招聘信息  |  客户服务  |  隐私政策  |  广告服务  |   网站地图   |  意见反馈  |  不良信息举报</div>
		<div style="margin: 10px 0 20px; color: #bbb;">
			<a href="http://icp.chinaz.com/info?q=26jjk.cn" style="color: #bbb; ">京ICP备20008448号-1</a> 
		</div>
	</div>
</body>
	<script type="text/javascript" src="js/register.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
</html>