<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>分类</title>
	<link rel="icon" href="img/logo1.png" type="image/x-icon">
	<link rel="stylesheet" href="css/type.css">
	<link rel="stylesheet" href="css/global.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script type="text/javascript" src="js/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="js/axios.min.js"></script>
</head>
<body>
<div id="base">
	<!-- 页头1.5 -->
	<div class="top_color"></div>
	<div class="top_bar">
		<div class="content top_content">
			<div class="top_content_left">
				<span class="a" @click='index' style="float: left;">悦享小说网站</span>
			</div>
			<div class="top_content_right">
				<div class="search_div">
					<input class="search_input" type="text" placeholder="请输入关键词" v-model='search_key' @keyup.enter='search' @focus='search_input_focus' @blur='search_input_blur'/>
					<i class="fa fa-search a icon" style="width: 15px;font-size:18px;color:rgb(102,102,102);" @click='search'></i>
				</div>
				<div style="display: inline;" style="display: none;" v-show="!is_login">
					<div class="register_div a" @click='register'>免费注册</div>
					<div class="login_div a" style="display: inline-block;color:#FFF; background-color: rgb(354,94,90); width: 100px;text-align: center;" @click='login'>用户登录</div>
				</div>
				<div class="my_box"  style="display: none;" v-show="is_login">

					<span class="my_coll a" @click='tomy_coll'>
						<i class="fa fa-star " style="width: 15px;font-size:18px;"></i>
						收藏
					</span>
					<span class="my_comment a" @click='tomy_comment'>
						<i class="fa fa-comments " style="width: 15px;font-size:18px;"></i>
						评论
					</span>
					<span class="my_like a" @click='tomy_sub'>
						<i class="fa fa-bell " style="width: 15px;font-size:18px;"></i>
						消息
					</span>
					<div class="my_av a" @click='space'>
						<img class="my_av_pic" :src="_mediaPath+avatar" alt="my_av" style="border-radius: 50%;">
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
	<!-- logo -->
	<div class="header">
		<img style="height: 150px;width: 150px; margin: 10px" src="img/logo1.png" alt="logo">
		<img style="width: 400px; margin: 0 10px 30px" src="img/logo2.png" alt="logo">
	</div>
	<!-- 分类菜单 -->
	<div class="memu_bar" id='memu'>
		<ul class="memu_list content">
			<li v-for='item in list' @click='toType(item)' :class="[item==type?'memu_selected':'']">{{item}}</li>
			
		</ul>
	</div>

	<!-- 主要内容 -->
	<div class="main_content content" id='type_app' style="position: static!important;">
		
		<div class="hot_box" >
			<!-- 滚动 -->
			<div class="hot_roll">
				<img :src="big_pic" class="hot_roll_pic a" @click='tobigbook'>
					<div class="hot_roll_title a" @click='tobigbook'>
						{{big_title}}
					</div>
			</div>

			<div class="hot">

				<div class="hot_content_box" v-for='item in hot_list.slice(1)'>
					<div class="hot_content">
						<img :src="mediaPath+getpic(item)" class="hot_content_pic"/>
						<div style="display: inline-block; padding-left: 15px;vertical-align:top;">
							<p class="hot_content_title a" @click='_tobook(item.id)'>{{item.title}}</p>
							<br>
							<div style="margin-top: 7px;color: rgb(153,153,153); width: 720px">
								<span class="hot_content_type a">{{item.type}}</span>
								·
								<span class="hot_content_time">{{time(item.pub_time)}}</span>
								<!-- | -->
								<span class="hot_content_tag">
									 <!-- 霸道总裁 恋爱 -->
								</span>
							<div class="hot_content_com" style="float: right; font-size: 12px">
								<div class="a ho_grey">
									<i class="fa fa-comments a" style="width: 15px;font-size:16px;"></i>&nbsp{{item.com_num}}
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="right_box" >

			<!-- 排行榜 -->
			<div class="rank">
				<div class="rank_title title" style="margin: 10px 0">
					热度排行榜
				</div>

				<div class="rank_content" v-for='(item,index) in rank_list'>
					<span class="rank_content_num" style="padding-right: 15px;color: #F95E5A"><b>{{index+1}}</b></span>
					<span class="rank_content_title a" @click='_tobook(item.id)'>{{item.title}}</span>
					<span class="rank_content_read">{{item.com_num}}</span>
				</div>

				
			</div>
		</div>
	</div>
<!-- 页尾 -->
<div class="footer">
	<p>网站首页  |  联系方法  |  招聘信息  |  客户服务  |  隐私政策  |  广告服务  |   网站地图   |  意见反馈  |  不良信息举报</p>
	<p style="margin: 10px 0"><a href="http://icp.chinaz.com/info?q=26jjk.cn" style="color: rgb(184, 185, 187); ">京ICP备20008448号-1</a> </p>
</div>
</body>
	<script type="text/javascript" src="js/global.js"></script>
	<script type="text/javascript" src="js/type.js"></script>	
</html>