.memu_bar{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.memu_list>li{
	display:inline-block;
	font-size: 14px;
	padding: 0 25px;
	font-family: 微软雅黑;
	color: #666666;

}
.memu_list>li:hover{
	border-radius: 15px;
	background-color: rgb(294,94,90);
	color: white;
	cursor: pointer;
}
.memu_selected{
	border-radius: 15px;
	background-color: rgb(294,94,90);
	color: white!important;
}
.main_content{

	padding: 22px 0 0;
}
.right_box{
	height: 200px;
	width: 340px;
	display: inline-block;
	
	vertical-align:top;
}
.hot_box{

	width: 840px;
	display: inline-block;
	vertical-align:top;
	margin-right: 20px; 
}
.hot_roll{
	height: 434px;
	width: 840px;
	
	margin: 0 15px 0 0;
	vertical-align:top;
}
.hot_roll_pic{
	height: 434px;
	width: 840px;
}
.hot_roll_title{
	position: relative;
	top: -69px;
	color: white;
	width: 820px;
	height: 65px;
	line-height: 65px;
	font-size: 24px;
	background-color: grey;
	opacity: 0.9;
	padding-left:20px;
}
.hot_content_box{

	width: 100%;
	height: 95px;
	border-bottom: 1px solid grey;
	margin-top: 10px;
	height: 82px;
	margin-bottom: 10px;
}
.hot_content_title{
	font-size: 16px;
	color: #666666;
}
.hot_content span{
	
	font: normal 14.4px/15px 微软雅黑;
}
.hot_content_type:hover{
	color: #333333;
}
.hot_content_com{
	color: rgb(210,210,210);
}
.hot_content_pic{
	width: 100px;
	height: 75px;
}